# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.ipynb_checkpoints/
ENV/
env/
venv/
.venv/

# === Conda / Pip ===
*.lock
pip-wheel-metadata/

# === Streamlit ===
.streamlit/secrets.toml
.streamlit/*.json

# === OS ===
.DS_Store
Thumbs.db

# === VSCode ===
.vscode/

# === Logs & temp ===
*.log
logs/
tmp/
.cache/

# === Data samples (optionnel) ===
data/raw/
data/interim/
data/processed/
